button {
    background-color: #57A6C7;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: 0;
    cursor: pointer;
    width: 100%;
    
}
.identification
{
    color: black;
    padding: 15% 32%;
    line-height: 40px;
    font-family:sans-serif;
    opacity: 1;
    
}
input[type=text]{
    width: 100%;
    padding: 16px 2px;
    margin: 18px 0;
    display: inline-block;
    border: 0;
    background-color: white;
    color: black;
    outline-color: #57A6C7;
    outline: 1;
    opacity: 1;
    
    
}
input[type=url] 
{
    background-color: white;
    border: 0;
    padding: 16px 2px;
    margin: 18px 0;
    color: white;
    width: 100%;
    outline-color: #57A6C7;
    outline: 1;
    opacity: 1;
}

input[type=checkbox] 
{
    background-color:transparent;
    
}

