
table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-color: transparent;
    border-collapse: collapse;
    border: 1px solid gray;
}


th {
    background-color: transparent;
    color: black;
}
tr:hover {
  background-color: #57A6C7;
    
  transition-duration: 0.5s;
}

th, td {
    padding: 15px;
    text-align: left;
    
}

div{
    color: black;
}

div.description
{

    margin: 20px;
    text-align: left;
    color: black;
    opacity: 5px;
}
div.visionofart
{
    
   margin: 5%;
    width: 30%;
    height: 50%;
    margin-left: 25%;
    text-align: center;
    
    
      
}

form{
    position: relative;
    left: 15%;
    
}
input[type=text] {
    background-color: transparent;
    background-image: url(searchicon.png);
    padding: 5px 25px;
    margin: 15px 20px;
    border: 0;
    cursor: pointer;
    color: white;
    width: 2%;
    outline-color: saddlebrown;
    outline: 1;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    
    
}
input[type=text]:focus {
    width: 20%;
    background-color: black;
    color: white;
}

.buttontotop{
    color: white;
    background-color: #57A6C7;
    border: 0;
    cursor: pointer;
    width: 10%;
    position: fixed;
    font-size: 100%;
    padding: 10px 15px;
    margin: 10px 80%;
}
.buttontoRent{
    color: white;
    background-color: #57A6C7;
    border: 0;
    cursor: pointer;
    width: 10%;
    padding: 1%;
    margin: 1%;
    font-size: 100%;
    
}