.topborder{
    
    background-color:black;
    
    
}
#topbordertitle
{
    color: white; 
    margin-left: 5px ;
    line-height: 40px;
}


body { 
    
    
    background-size: cover;
    background-attachment: fixed; 
    
}

.pagebg { 
    
    /*background-image: url(backgroundcar2.jpeg);*/
    background-color: white;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-size: cover;
    background-attachment: fixed; 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


   
    *{padding: 0;margin: 0;}
    body {
 font-family: 'Roboto', sans-serif;

}

a {
 text-decoration: none;
 color:white;
}

li  {
 list-style-type:none;
 }
 
header {
 height : 50px;
 margin:auto;
 width : 100%;
 border-bottom:1px ;
 background-color: black;
    
 
}

input[type=text]{
    font-family: 'Roboto', sans-serif;
}

#brand {
 float:left;
 color:white;
 font-size:20px;
 margin-left: 10px ;
 line-height: 50px;
    
}

nav { 
   width: 100%;
   text-align: center;
}

nav  a {
   display:block;
   padding: 15px 0;
   color:white;
   transition-duration: 0.5s;
}

nav a:hover {
  background-color: #57A6C7;
  transition-duration: 0.5s;
}



.menu {
   width: 200px;
   line-height: 80px;
   height:auto;
   position:absolute;
   background:black;
   left:-240px;
   transition: all .3s ease-in-out;
}


.menu-icon {
   padding: 10px 20px;
   background: black;
   color: #57A6C7;
   cursor: pointer;
   float: left;
   margin-top: 4px;
}

#menuToggle {
  display:none;
}

#menuToggle:checked  ~ .menu {
   position:absolute;
   left:0px;
}
footer{
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 40px;
    padding: 8px;
   
}

.res
{
    
    margin: 25px;
    margin-top: 40px;
    margin-bottom: 15px;
     
    
}

#insta
{
    
    
    margin-left: 45%;
    border: 1px solid #FFF;
    
    
}
#insta:hover
{
    background-color: #57A6C7;
    
}
#facebook
{
    
    
    border: 1px solid #FFF;
     
    
}
#facebook:hover
{
    background-color: #57A6C7;
  
}